.footer {
    background-color: var(--theme-color);
    text-align: center;
    color: white;
    padding-top: 1.75rem;
  }
  
  .footer a {
    color: white;
  }

  .widgets {
    display: flex;
    justify-content: space-around;
    width: 95%;
    max-width: 80ch;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .logo__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    background-color: white;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: grid;
    border: 6px solid black;
  }

  .logo img {
    align-items: center;
  }

  .site__info {
    background: var(--theme-color-dark);
    padding: 1.75rem;
  }

