
.mainnav {
  margin: 0 auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: menu;
}

.mainnav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.mainnav ul ul {
  flex-direction: column;
}

.mainnav li {
  list-style-type: none;
  margin-bottom: 0;
}

.mainnav a {
  padding: 0.3rem 1rem;
  display: block;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0);
}

.mainnav a:hover,
.mainnav a:focus {
  border-color: hsla(0, 0%, 100%, 1);
}