.postnav a {
    width: 50%;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    background-color: aqua;
}

.postnav a:first-of-type {
    text-align: right;
}

.postnav__head {
    font-size: 80%;
}

.postnav__title {
    font-size: 110%;
    font-weight: bold;
    text-decoration: underline;
}
